@font-face {
    font-family: 'Ubuntu';
    font-display: swap;
    src: url('../fonts/Ubuntu-R.ttf') format("truetype");
}

@font-face {
    font-family: 'Ubuntu Mono';
    font-display: swap;
    src: url('../fonts/UbuntuMono-R.ttf') format("truetype");
}
/* 
@font-face {
    font-family: 'Cascadia Code';
    font-display: swap;
    src: url('../fonts/CascadiaCode.ttf') format("truetype");
} */

body {
    font-family: 'Ubuntu';
}

td.code {
    font-family: 'Ubuntu Mono';
}